<!doctype html>
<title>My Application</title>
<p>
	<a href="{{ url_for('index') }}">Stream</a> 
	<a href="{{ url_for('report') }}">Report</a>
	<a href="{{ url_for('login') }}">Login page</a>
	{% if 'username' in session: %}
	<a href="{{ url_for('logout') }}">logout</a>
	{% endif %}

</p>
{% if 'username' in session: %}
<p>username: <b style="color:#DC143C">{{session['username']}}</b></p>
{% endif %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

